.stats {
    margin: 0 auto;
    width: calc(100% - 20px);
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;

    .block {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        margin: 0 10px 20px 10px;
        width: calc(33.33% - 60px);
        padding: 10px 20px;
        background: $dark25;
        box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;

        &.coming-soon {
            &:before {
                z-index: 3;
                position: absolute;
                left: 0;
                top: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                content: '';
                background: rgba(13, 19, 28, 0.75);
                border-radius: 8px;
            }
        }

        h2, h3, h4 {
            margin: 0;
            display: flex;
            align-items: center;
            width: 100%;
            height: 30px;
            color: $white100;
            font-weight: bold;
            font-size: $font-18px;
        }

        .amount {
            margin: 0;
            display: flex;
            align-items: center;
            width: 100%;
            height: 86px;
            color: $green100;
            font-weight: bold;
            font-size: 48px;
            justify-content: center;
            letter-spacing: -2px;

            .bet {
                display: block;
                width: 32px;
                height: 32px;
                margin-right: 6px;
                background: url(../img/icon-bet.svg) no-repeat;
                background-size: 32px;
            }
        }

        .token-holdings {
            margin: 0;
            display: flex;
            align-items: center;
            width: 100%;
            position: relative;
            z-index: 1;
            height: 86px;

            &:before {
                position: absolute;
                display: block;
                z-index: 2;
                left: 10px;
                top: 35px;
                width: 16px;
                height: 16px;
                content:'';
                background: url(../img/icon-bet.svg) no-repeat;
                background-size: 16px;
            }

            .input {
                margin-right: 10px;
                display: flex;
                align-items: center;
                width: calc(100% - 144px);
                height: 36px;
                padding: 0 0 0 34px;
                font-size: $font-14px;
                color: $white100;
                border-radius: 3px;
                border: none;
                background-color: $dark75;
            }

            .btn-save {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100px;
                height: 36px;
                font-size: $font-14px;
                font-weight: bold;
                color: $dark0;
                background: $white100;
                border-radius: 3px;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                transition: all 0.3s ease-in-out;
                border: none;
                text-transform: uppercase;
            }
        }

        .data {
            display: flex;
            flex-direction: column;
            width: 50%;

            label, .dd {
                display: flex;
                font-size: $font-14px;
                font-weight: bold;
            }

            label {
                color: $white100;
            }

            .dd {
                color: $green100;

                .up, .down {
                    display: flex;
                    padding: 0 2px;
                    align-items: center;
                    justify-content: center;
                    color: $white100;
                    font-size: $font-12px;
                    border-radius: 2px;
                }

                .up {
                    background: $green100;
                }

                .down {
                    background: $red100;
                }
            }

            &.rs {
                label, .dd {
                    justify-content: flex-end;
                }

                .dd {
                    color: $red100;
                }
            }
        }

        &.multiple-cols {
            .data {
                width: 33.33%;

                &.push {
                    label, .dd {
                        justify-content: center;
                    }
                    
                    .dd {
                        color: $grey100;
                    }
                }
            }
        }

        &.fund {
            text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
            background: url(../img/field-texture.svg) repeat $green100 center;
            background-size: 40px 1px;
            
            .amount {
                color: $white100;
            }

            .data {
                .dd {
                    color: $green50;
                }
    
                &.rs {
                    .dd {
                        color: $green50;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1080px) {
        .block {
            width: calc(50% - 60px);
        }
    }

    @media screen and (max-width: 768px) {
        .block {
            width: calc(100% - 60px);
        }
    }
}