
// Colors
$dark0: #0D131C;
$dark25: #111923;
$dark50: #161F2C;
$dark75: #202A39;
$grey100: #AEBCD3;
$white100: #FFF;
$green100: #00AE52;
$red100: #ED1D49;

// Font Size
$font-12px: 12px;
$font-14px: 14px;
$font-16px: 16px;
$font-20px: 20px;
$font-24px: 24px;
$font-36px: 36px;