
// Colors
$dark0: #000;
$dark15: #0F0F12;
$dark25: #17171B;
$dark50: #3C3A46;
$dark75: #868394;
$white100: #FFF;
$success: #07FBFD;
$alert: #F506F4;
$blue: #0D05B3;

// Font Size
$font-12px: 12px;
$font-14px: 14px;
$font-16px: 16px;
$font-20px: 20px;
$font-24px: 24px;
$font-36px: 36px;